/* misc style */

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
}

a {
  color: #e53935;
  text-decoration: none;
}

a:hover {
  color: #e57373;
}

.button {
  color: #FFF;
  border-color: #BBB;
  margin-bottom: 2px;
}

.button:hover, .button:focus {
  color: #e53935;
  border-color: #DDD;
}

.card {
  padding: 10px;
  background-color: #F7F7F7;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.spacer {
  height: 68px;
}

.spacer-page {
  height: 76px;
}


/* header */

.header {
  position: fixed;
  z-index: 1000;
  height: 68px;
  width: 100%;
  overflow: hidden;
  background-color: #303030;
  color: #FFF;
  transition: background-color 1s, height 0.5s;
}

.header-inverted {
  height: 72px;
  background-color: #FFF;
  color: #303030;
}

.header-inverted .logo {
  color: #303030;
  font-size: 3.4rem;
  line-height: 1.1;
}

.header-inverted .logo-description {
  color: #303030;
  font-size: 3rem;
  line-height: 1.1;
}

.logo,
.logo-description {
  color: #FFF;
  text-decoration: none;
  text-align: center;
  font-weight: 300;
  transition: font-size 0.3s;
}

.logo {
  margin-bottom: 0;
  font-size: 3.1rem;
  line-height: 1.2;
}

.logo-description {
  font-size: 2.7rem;
  line-height: 0.8;
}

@media (min-width: 400px) {
  .logo {
    font-size: 4.2rem;
  }

  .logo-description {
    font-size: 3.6rem;
  }

  .header, .spacer {
    height: 90px;
  }

  .header-inverted {
    height: 72px;
  }
}

@media (min-width: 550px) {
  .logo {
    font-size: 5rem;
  }

  .logo-description {
    font-size: 4rem;
  }

  .header, .spacer {
    height: 104px;
  }

  .header-inverted {
    height: 72px;
  }
}

/* Home */

.about-me-card {
  margin-top: 16px;
}

.about-me-headline {
  margin-bottom: 4px;
}

.about-me {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.projects-headline {
  margin-top: 10px;
}

/* project list */

.project-item {
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #F7F7F7;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer;
  transition: transform .2s ease-in-out;
}

.project-item:hover {
  transform: scale(1.1);
}

.project-thumbnail {
  width: 100%;
}

.status-production,
.status-demo,
.status-development {
  font-weight: bold;
}

.status-production {
  color: #00e676;
}

.status-demo {
  color: #ff80ab;
}

.status-development {
  color: #ff9100;
}

/* project view */

.project-headline {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  display: inline-block;
}

.project-view-status {
  text-align: center;
}

.project-buttons {
  text-align: center;
}

.project-image-desktop {
  width: 100%;
  border-radius: 2px;
}

.tools {
  font-weight: bold;
}

.page {
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  background-color: #303030;
  color: #EEE;
  overflow-y: auto;
  transition: left 0.4s ease-in-out;
}

.yellow {
  background-color: yellow;
}

.show {
  left: 0;
}

.project-close {
  margin-top: 20px;
  float: right;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.2;
  color: #ff1744;
  cursor: pointer;
}

@media (min-width: 550px) {
  .project-close { font-size: 4rem;}
}


@media (min-width: 750px) {
  .project-close { font-size: 5rem; }
}

/* footer */

.footer {
  margin-top: 30px;
  text-align: center;
}

.contact-container {
  width: 300px;
  height: 100px;
  margin: 0 auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #303030;
  color: #FFF;
  font-size: 1.2em;
}

.github-img {
  margin-top: 10px;
}

.author {
  margin-top: 20px;
  margin-bottom: -10px;
  font-size: 90%;
}

.github-img {
  width: 50px;
}

